body {
    width: 100%;
    margin: auto;
    margin-top: 0;
    padding: 0%;
    }
    
    @media screen and (max-width: 1000px) {
        html {
          font-size: 0.75rem;
        }

        
      }
    
      @media screen and (max-width: 700px) {
        html {
          font-size: 0.50rem;
        }

        
      }
    
    .container {
    background-color:#BCF5A6;
    width: 100%;
    height: 8rem;
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    position: relative;
    z-index: 0;
    
    }
    
    .smashinggyms {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 5rem;
    display: absolute;
    justify-content: center;
    color: black;
    margin-top: 3.5rem;
    align-items: center;
    text-align: center;
    user-select: text; 
    }
    
    .horizline {
    height: 5rem;
    width: 0.3rem;
    background-color: black;
    margin: 0 auto;
    position: absolute;
    left: 46rem;
    top: 1.3rem;
    }
    
    .horizline2 {
    height: 5rem;
    width: 0.3rem;
    background-color: black;
    margin: 0 auto;
    position: absolute;
    right: 46rem;
    top: 1.3rem;
    }

    .horizline3 {
    height: 50rem;
    width: 0.3rem;
    background-color:#000000;
    margin: 0 auto;
    position: absolute;
    left: 41.5rem;
    top: 25rem;
    z-index: 1;
    }
    
    .horizline4 {
    height: 50rem;
    width: 0.3rem;
    background-color: black;
    margin: 0 auto;
    position: absolute;
    right: 43.5rem;
    top: 25rem;
    z-index: 1;
    }
    
    .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -0.2rem;
    left: 14rem;
    }
      
    .nav-list {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    z-index: 1;
    margin-top: 3.25rem;
    right: 70rem;
    font-size: 1.5rem;
    }
      
    .nav-item {
    margin-right: 1rem;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-family: 'Bebas Neue', sans-serif;
    white-space: nowrap;
    margin-right: 5rem;
    transition: transform 0.5s ease, opacity 0.5s ease, font-size 0.3s ease, background-color 0.3s ease, color 0.5s ease;
    opacity: 1;
    border-radius: 2rem;
    }
    
    .nav-item:not(:hover) {
    opacity: 0.65;
    }
          
    .nav-item:hover {
    background-color: rgba(0, 0, 0, 0.5);
    transform: scale(1.2);
    opacity: 1;
    font-size: 1.6rem;
    color: rgb(223, 230, 214);
    }
          
    .nav-item:hover ~ .nav-item2 {
    opacity: 0.5;
    }
        
    .navbar2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5rem;
    right: 11rem;
    }
          
    .nav-list2 {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    z-index: 1;
    margin-top: -2rem;
    left: 75rem;
    font-size: 1.5rem;
    }
          
    .nav-item2 {
    margin-right: 5rem;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-family: 'Bebas Neue', sans-serif;
    white-space: nowrap;
    transition: transform 0.5s ease, opacity 0.5s ease, font-size 0.3s ease, background-color 0.3s ease, color 0.5s ease;
    opacity: 1;
    border-radius: 2rem;
    }
    
    .nav-item2:not(:hover) {
    opacity: 0.65;
    }
      
    .nav-item2:hover {
    background-color: rgba(0, 0, 0, 0.5);
    transform: scale(1.2);
    opacity: 1;
    font-size: 1.6rem;
    color: rgb(223, 230, 214);
    }
      
    .nav-item2:hover ~ .nav-item2 {
    opacity: 0.5;
    }
    
   
/* Text and images*/

.imagewrap {
position: relative;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}
  
.gym1 {
width: 70rem;
height: 70rem;
object-fit: cover;
display: none;
}
  
.overlay {
position: absolute;
top: 80%;
left: 50%;
transform: translate(-50%, -50%);
width: 80%;
height: 100%;
background-image: linear-gradient(rgba(188, 245, 166, 0.5), rgba(70, 133, 70, 0.5)), url(gymprog.jpg);
background-position: center;
background-size: cover;
display: flex;
justify-content: center;
align-items: center;
}

.hed {
font-family: 'Bebas Neue', sans-serif;
position: absolute;
font-size: 4rem;
text-align: left;
padding-left: 12rem;
padding-right: 5rem;
justify-content: center;
align-items: center;
align-content: center;
user-select: text;
top:3rem;
}

.beg {
position: absolute;
font-family: 'Bebas Neue', sans-serif;
font-size: 5rem;
color: rgba(0, 0, 0, 0.75);
top: 50%;
left: 23%;
transform: translate(-50%, -50%);
z-index: 1;
}

.inter {
position: absolute;
font-family: 'Bebas Neue', sans-serif;
font-size: 5rem;
color: rgba(0, 0, 0, 0.75);
top: 48.5%;
left: 50%;
transform: translate(-50%, -50%);
z-index: 1;
}

.exp {
position: absolute;
font-family: 'Bebas Neue', sans-serif;
font-size: 5rem;
color: rgba(0, 0, 0, 0.75);
top: 46%;
left: 75%;
transform: translate(-50%, -50%);
z-index: 1;
}

.begdesc {
z-index: 1;
font-family: 'Geologica', sans-serif;
text-align: center;
display: flex;
justify-content: center;
margin-top: 50rem;
font-size: 1.5rem;
padding-bottom: 53px;
margin-right: 64rem;
max-width: 300px;
color:#000000;
text-shadow: 0.2rem 0.2rem 1rem #ffffff;
}
